.btn {
  background-color: #fff;
  margin: 0 15px;
  text-transform: uppercase;
  padding: 13px 35px;
  font-size: 18px;
  transition: all .3s;
}

.main-btn {
  background-color: transparentize($brand-primary, 0.1);
  color: #fff;

  &:hover {
    background-color: $brand-primary;
    color: #fff;
  }
}

.sub-btn {
  background-color: rgba(0, 0, 0, 0.15);
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.34);

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: #fff;
  }
}
