@import "common/variables";

// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";


*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;
	color: #333;
	line-height: 170%;
	font-size: 16px;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	min-height: 3000px;
	background-color: #fff;
}

.main {
	padding: 0;
}

.page {
	.main,
	.sidebar {
		margin-top: 140px;
	}
}

.home {
	.main {
		margin: 0;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: 500;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

a {

	&:hover {
		text-decoration: none;
	}
}

.forside-hero {
	margin-top: 80px;
	padding: 200px 0 !important;
	color: #fff;
	text-align: center;
	background-image: url(../images/uvant-hero.jpg);
	background-size: cover;
	background-position: 50% 50%;

	h1 {
		position: relative;
		margin: 0;
		font-size: 75px;
		letter-spacing: 50px;
		font-weight: 400;
		text-transform: uppercase;
	}

	p {
		font-size: 25px;
		font-weight: 300;
		margin: 20px 0 0 0;
		padding: 0 160px;
		letter-spacing: 0.6px;
	}

	.hero-btn-wrap {
		margin: 50px 0;

		.hero-btn {
			background-color: #fff;
			margin: 0 15px;
			text-transform: uppercase;
			padding: 13px 35px;
			font-size: 18px;
			transition: all .3s;
			border-radius: 5px;
		}

		.hero-btn-1 {
			background-color: transparentize($brand-primary, 0.35);
			color: #fff;

			&:hover {
				background-color: transparentize($brand-primary, 0.1);
			}
		}

		.hero-btn-2 {
			background-color: rgba(0, 0, 0, 0.15);
			color: #fff;
			border: 1px solid rgba(255, 255, 255, 0.34);

			&:hover {
				background-color: rgba(255, 255, 255, 0.05);
			}
		}
	}
} // _forside wrap


.grey-wrap {
	background-color: #f7f7f9;
	padding: 90px 0;

	h1 {
		margin-bottom: 40px;
		margin-top: 0;
	}

	h2 {
		font-size: 25px;
	}
} // _grey-wrap


.box-height {
	height: 600px;
}

.boxes {
	border-top: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
	text-align: center;
	position: relative;

	h1 {
		text-transform: uppercase;
		margin-top: 0;
	}

	p {
		padding: 0 200px;
	}

	.box-hr {
		margin-top: 20px;
		margin-bottom: 20px;
		border: 0;
		border-top: 3px solid $brand-primary;
		width: 100px;
	}

	.box-content {
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.box-top-left {
		@extend .box-height;
		background-color: #fff;

		a {
			text-transform: uppercase;
			font-weight: 500;
			letter-spacing: 0.6px;
			font-size: 20px;
		}
	}

	.box-top-right {
		@extend .box-height;
		background-image: url(../images/uvant-box-image.jpeg);
		background-size: cover;
	}

	.box-bottom-left {
		@extend .box-height;
		background-image: url(../images/uvant-box-image-2.jpeg);
		background-size: cover;
	}

	.box-bottom-right {
		@extend .box-height;
		background-color: #202020;
		color: #fff;
	}
}




/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

	.forside-hero {
		margin-top: 80px;
		padding: 100px 0 !important;
		color: #fff;
		text-align: center;
		background-image: url(../images/uvant-hero.jpg);
		background-size: cover;
		background-position: 50% 50%;

		h1 {
			font-size: 40px;
			letter-spacing: 40px;
		}

		p {
			font-size: 25px;
			padding: 0;
		}

		.hero-btn-wrap {
			margin: 50px 0 0 0;

			.hero-btn {
				margin: 10px 0;
				text-transform: uppercase;
				padding: 13px 35px;
				font-size: 18px;
				transition: all .3s;
			}

			.hero-btn-1 {
				width: 80%;
			}

			.hero-btn-2 {
				width: 80%;
			}
		}
	} // _forside wrap




	.box-height-mobile {
		height: 400px;
	}

	.boxes {

		h1 {
			font-size: 28px;
			padding: 0 15px;
		}

		p {
			padding: 0 15px;
		}

		.box-top-left {
			@extend .box-height-mobile;
		}

		.box-top-right {
			height: 300px;
			background-image: url(../images/uvant-box-image.jpeg);
			background-size: cover;
			background-repeat: no-repeat;
		}

		.box-bottom-right {
			@extend .box-height-mobile;
		}
	}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
